<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micrositio</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap" rel="stylesheet" />
</head>

<body>
    <nav class="nav-main">
        <ul class="nav-menu">
            <li class="nav-logo">
                <a href="/"><img src="/static/images/logo-20.png" alt="Logo-20-CUL" /></a>
            </li>
            <li class="nav-titulo">
                <a href="/">
                    <h3>LABINDE</h3>
                </a>
            </li>
            <li><a href="/conocenos">CONOCENOS</a></li>
            <li><a href="/portafolio">PORTAFOLIO</a></li>
            <li><a href="/asociados">CONSULTORES ASOCIADOS</a></li>
            <li><a href="/normatividad">NORMATIVIDAD</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="content-1">
            <img src="/static/images/pexels-fauxels-3184339.jpg" alt="" />
        </div>
        <div class="content-texto">
            <p>
                En La CORPORACION UNIVERSITARIA LATINOMAERICANA CUL Pensamos que la
                investigación debería ser el eje articulador de los procesos de todo
                programa académico, y debería ser vista como el punto aglutinante de
                todos ellos; teniendo en cuenta Las exigencias del mundo globalizado
                implican mantenerse a la vanguardia de los retos y desafíos que se van
                presentando es por eso que la institucion en concordancia con las
                funciones establecidas en el marco de la ley 30 de 1992 y en
                cumplimiento de su Plan de desarrollo 2014-2019, desde CINPRO se busco
                la elaboracion de un Proyecto de investigacion cuyo objeto fundamental
                sería: la creacion de un ÁREA DEDICADA AL EMPRENDIMIENTO DESDE LA
                INVESTIGACIÓN Y FORMALIZACIÓN DE LAS CONSULTORIAS cuya produccion
                marcara las directrices para el desarrollo de programas y de
                realizción de acciones de las distintas dependencias de la
                institucion. Sus orientaciones están enfocadas

                <br />
                • Relación Universidad Empresa Estado

                <br />
                • Vinculación a programas de extensión, asesoría y bienestar
                institucional

                <br /><br />
                LABINDE se plantea sobre la base de los siguientes factores
                fundamentales:
                <br />
                - Integralidad
                <br />
                - Transversalidad
                <br />
                - Interinstitucionalidad
                <br />
                - Seguimiento a Egresados
                <br />
                - Emprendimiento
                <br />
                - Innovacion
                <br />- Practicas investigativas <br />- Relacion con el sector
                externo <br />- Docencia
            </p>
        </div>
        <div class="content-valores">
            <p class="content-title">MISIÓN</p>
            <p>
                ¿Qué somos? La misión del Laboratorio de investigación y desarrollo
                empresarial <strong> LABINDE</strong>, es crear y validar conocimiento
                en las áreas de Investigación, Innovación, Emprendimiento, y
                desarrollo social, apoyado en un equipo interdisciplinario de docentes
                y estudiantes; generador de un escenario de investigación fundamentado
                en el diálogo de saberes, en el diagnóstico y en las alternativas de
                solución a problemas sectoriales. En tal sentido, el grupo toma como
                referente las tecnologías innovadoras y proactivas, que promueven el
                desarrollo competitivo del sector Empresarial de la región y el país
                en un contexto globalizado.
            </p>
        </div>
        <div class="content-valores">
            <p class="content-title">VISIÓN</p>
            <p>
                ¿Hacia dónde vamos?
                <strong> En la Corporación Universitaria Latinoamericana – CUL</strong>, se apuesta y trabaja para
                situarse como el centro de referencia en
                investigación Académica y Científica, propulsoras del desarrollo
                tecnológico y profesional que sea dinamizador de la transferencia de
                resultados al sector empresarial. Nuestra estrecha relación con el
                mundo científico y académico y con el sector empresarial, así como
                nuestra posición estratégica en conexión con las administraciones, y
                con otros organismos públicos de investigación, hacen de nuestra
                Corporación Universitaria un organismo dinámico que liderara la
                investigación local y nacional.
            </p>
        </div>
        <div class="content-valores">
            <p class="content-title">OBJETIVOS</p>
            <p>
                <strong>OBJETIVO GENERAL</strong>

                <br />- Desarrollar el Laboratorio de investigación y desarrollo
                empresarial de la CORPORACION UNIVERSITARIA LATINOAMERICANA, CUL.

                <br /><br /><strong>OBJETIVOS ESPECIFICOS</strong>

                <br />
                -Adscribir el Laboratorio de investigación y desarrollo empresarial a
                la vicerrectoría académica, a través de cinpro fortaleciendo su
                accionar de
            </p>
        </div>
        <div class="carousel-title">
            <p>ACTIVIDADES DE LABORATORIO</p>
        </div>
        <div class="carousel-content">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/pexels-fauxels-3183197.jpg" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>
                                Some representative placeholder content for the first slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/pexels-fauxels-3184292.jpg" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>
                                Some representative placeholder content for the second slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/pexels-fauxels-3184405.jpg" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>
                                Some representative placeholder content for the third slide.
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
<footer style="background-color: black; color: white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <br />
    Cupiditate sint odio, qui, eaque temporibus dolorem culpa tempora tempore
    consequuntur <br />
    praesentium molestias vel a cum quis rem laudantium quae dicta sapiente
    <br />
    officia atque? Iusto suscipit nihil explicabo dolorem molestias minima quas
    voluptatem quo praesentium distinctio, blanditiis natus quibusdam. At,
    praesentium minus.
</footer>

</html>